<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--//配置springMVC拦截器,拦截没有登录就访问页面的请求-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/User/**"/>
            <bean class="com.cc.springMVC.Controller.Intercepte"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- 配置spring创建容器时要扫描的包 -->
    <context:component-scan base-package="com.cc.springMVC">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 配置视图解析器 -->
    <bean  id="viewResolver2" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置文件解析器,上传文件时使用，这个value单位是字节.一字节就是1B(Bytes)-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1024000"/>
    </bean>
    <!-- 配置spring开启注解mvc的支持-->
    <mvc:annotation-driven ></mvc:annotation-driven>
    <!--&lt;!&ndash; 配置自定义类型转换器 &ndash;&gt;-->
    <!--<bean id="conversionService1" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
        <!--<property name="converters">-->
            <!--<set>-->
                <!--<bean class="com.cc.springmvc.util.StringToDateConverter"/>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->
    <!--//忽略静态文件,不经过DispatchServlet-->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <!--//忽略上传的静态,不经过DispatchServlet-->
    <mvc:resources mapping="/uploads/**" location="/ssm/uploads/"/>




</beans>